.map-container {
    width: 100vw;
    height: 100vh;
    cursor: default;
}

.position-modal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 9999999;
}

.menu-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99999999999;
}

.modify-wrapper, .modify-wrapper-active {
    position: absolute;
    top: 125px;
    left: 10px;
    z-index: 99999999999;
    background-color: white;
    height: 35px;
    width: 35px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modify-wrapper-image {
    width: 24px;
    height: 24px;
}

.modify-wrapper-image:hover {
    content: url("../../images/modify-item-hover.png");
}

.modify-wrapper-active {
    border: 2px solid chartreuse;
}

.modify-wrapper-active .modify-wrapper-image {
    content: url("../../images/modify-item-hover.png");
}
